@charset "utf-8";
/* theme default */

/*top*/
.topbody { background:url(images/body_bg.jpg) repeat-x; }
#top_box { background:url(images/top_bg.jpg) no-repeat;}

/*table*/
.publictable {background:#D6D6D6}
.publictable .thead{background:url(images/lm_bg01.jpg) repeat-x;}

/*left*/
.lefthtml{ border-right:1px solid #D6D6D6; background:#f9fafb;}

/*title*/
.tit_box { color:#004E91; background:url(images/tit_pic.png) no-repeat;}

/*input*/
.publictable input[type="text"]:focus,
.publictable input[type="password"]:focus { box-shadow:0 0 3px rgba(41,144,239,.5);}

/*left*/
.one_m_over{background:url(images/one_m_over.png);}
.one_m_over:hover{background:url(images/one_m_bg.png); }
.one_m_out{background:url(images/one_m_bg.png);}
.one_m_out:hover{background:url(images/one_m_over.png);}
.tow_m_over{background:url(images/two_m_over.png);}
.tow_m_over:hover{background:url(images/two_m_over.png);}
.tow_m_out{background:url(images/two_m_bg.png);}
.tow_m_out:hover{background:url(images/two_m_over.png);}

/*index*/
.indexbody { background-color:#ccf0fe;}
.inputs{border-top:solid 1px #0278A7; border-left:solid 1px #0278A7; border-right:solid 1px #048CC8; border-bottom:solid 1px #048CC8; background:url(images/inputbg.jpg) repeat-x; font-size:14px; color:#4c4c4c;}
#l_001 {background: url(images/l_01.jpg) no-repeat;}
#l_002 .l_002_01 {background:url(images/l_02.jpg) no-repeat; }
#l_002 .l_002_02 {background:url(images/l_bt.jpg) no-repeat;}
#l_002 .l_002_03{background:url(images/l_03.jpg) no-repeat; }
#l_003{background:url(images/l_04.jpg);}
#l_002 .l_002_02 a{ display:block; width:132px; height:151px; background:url(images/l_bt.jpg) no-repeat;}

/*nodata*/
.nodata { background-color:#eae9e9;}